.header {
  background-color: coral;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  height: 20%;
}

nav {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    li {
      font-size: 1.2rem;
    }
  }
}
